
<div class="container mx-auto p-4">
<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow">
    <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24716.363760140102!2d-71.55551548615243!3d-39.2531885552417!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9613a1578f3ba8f7%3A0x423bb81f8a9b17a7!2sTermas%20de%20Panqui!5e0!3m2!1ses!2scl!4v1688365733381!5m2!1ses!2scl">
        <div class="relative overflow-hidden pt-[100%]">
            <iframe class="absolute top-0 left-0 w-full h-full" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24716.363760140102!2d-71.55551548615243!3d-39.2531885552417!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9613a1578f3ba8f7%3A0x423bb81f8a9b17a7!2sTermas%20de%20Panqui!5e0!3m2!1ses!2scl!4v1688365733381!5m2!1ses!2scl" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </a>
    <div class="p-5">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Entorno</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
            El sector de Panqui nace de nuestro deseo de compartir la belleza de los bosques andinos
            de la Arauncanía y la cultura propia del Valle de Panqui en Curarrehue
        </p>
    </div>
</div>
</div>
