{% load static %}
<div class="md:container md:mx-auto bg-white p-10">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4" uk-lightbox="animation: fade">
      <div>
        <a class="uk-line" href="{% static 'img/sendero-1.jpg' %}" data-caption="Sendero">
          <img class="h-auto max-w-full rounded-lg w-full" src="{% static 'img/sendero-1.jpg' %}" alt="">
        </a>
      </div>
      <div>
        <a class="uk-line" href="{% static 'img/sendero-2.jpg' %}" data-caption="Sendero">    
          <img class="h-auto max-w-full rounded-lg" src="{% static 'img/sendero-2.jpg' %}" alt="">
        </a>
      </div>
      <div>
        <a class="uk-line" href="{% static 'img/sendero-3.jpg' %}" data-caption="Sendero">  
            <img class="h-auto max-w-full rounded-lg" src="{% static 'img/sendero-3.jpg' %}" alt="">
        </a>
      </div>
      <div>
        <a class="uk-line" href="{% static 'img/sendero-4.jpg' %}" data-caption="Sendero">  
            <img class="h-auto max-w-full rounded-lg" src="{% static 'img/sendero-4.jpg' %}" alt="">
        </a>
      </div>
      <div>
        <a class="uk-line" href="{% static 'img/sendero-5.jpg' %}" data-caption="Sendero">  
            <img class="h-auto max-w-full rounded-lg" src="{% static 'img/sendero-5.jpg' %}" alt="">
        </a>
      </div>
      <div>
        <a class="uk-line" href="{% static 'img/refugio-1.jpg' %}" data-caption="Refugio">  
            <img class="h-auto max-w-full rounded-lg" src="{% static 'img/refugio-1.jpg' %}" alt="">
        </a>
      </div>
      <div>
        <a class="uk-line" href="{% static 'img/refugio-2.jpg' %}" data-caption="Refugio">  
            <img class="h-auto max-w-full rounded-lg" src="{% static 'img/refugio-2.jpg' %}" alt="">
        </a>
      </div>
      <div>
        <a class="uk-line" href="{% static 'img/refugio-3.jpg' %}" data-caption="Refugio">  
            <img class="h-auto max-w-full rounded-lg" src="{% static 'img/refugio-3.jpg' %}" alt="">
        </a>
      </div>
      <div>
        <a class="uk-line" href="{% static 'img/refugio-4.png' %}" data-caption="Refugio">  
            <img class="h-auto max-w-full rounded-lg" src="{% static 'img/refugio-4.png' %}" alt="">
        </a>
      </div>
      <div>
        <a class="uk-line" href="{% static 'img/refugio-noche.jpg' %}" data-caption="Refugio">  
            <img class="h-auto max-w-full rounded-lg" src="{% static 'img/refugio-noche.jpg' %}"  alt="">
        </a>
      </div>
      <div>
        <a class="uk-line" href="{% static 'img/laguna-araucarias.jpg' %}" data-caption="Laguna">  
            <img class="h-auto max-w-full rounded-lg" src="{% static 'img/laguna-araucarias.jpg' %}"  alt="">
        </a>
      </div>
      <div>
        <a class="uk-line" href="{% static 'img/laguna-wenuco.jpg' %}" data-caption="Laguna">  
            <img class="h-auto max-w-full rounded-lg" src="{% static 'img/laguna-wenuco.jpg' %}"  alt="">
        </a>
      </div>
    </div>


