{% load static %}
  <section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
            <h2 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Ubicación Sendero</h2>
            <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
                <strong>Inicio Sendero</strong><br>
                Latitud: 39°15'7.73''S<br>
                Longitud: 71°31'56.49''O<br>
                <br>
                <strong>Fin Sendero</strong><br>
                Latitud: 39°14'29.32''S<br>
                Longitud: 71°32'21.62''O<br>
            </p>
        </div> 
        <div class="grid gap-8 lg:grid-cols-2">
            <article class="p-6 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
                <div class="flex justify-between items-center mb-5 text-gray-500">
                    <span class="bg-primary-100 text-primary-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-primary-200 dark:text-primary-800">
                        <svg class="mr-1 w-3 h-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2 6a2 2 0 012-2h6a2 2 0 012 2v8a2 2 0 01-2 2H4a2 2 0 01-2-2V6zM14.553 7.106A1 1 0 0014 8v4a1 1 0 00.553.894l2 1A1 1 0 0018 13V7a1 1 0 00-1.447-.894l-2 1z"></path></svg>
                        Cómo llegar
                    </span>
                </div>
                <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Revisa esta guía para llegar a Explora Panqui</h2>
                <div class="relative overflow-hidden" style="padding-top: 56.25%;"> <!-- 16:9 aspect ratio -->
                    <iframe class="absolute top-0 left-0 w-full h-full" src="https://www.youtube.com/embed/1cyX03SMmNY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <br>
                <div class="card-actions justify-end">
                    Sigue las indicaciones de ruta
                    <a role="button" class="btn btn-primary hover:no-underline" href="https://embed.waze.com/es/iframe?&zoom=11&lat=-39.25138888888889&lon=-71.53111111111112&pin=1&desc=1">Waze</a>
                </div>  
            </article> 
            <article class="p-6 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
                <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><a href="#">Panqui</a></h2>
                <div class="relative overflow-hidden rounded-t-lg" style="padding-top: 56.25%;"> <!-- 16:9 aspect ratio -->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24709.21770017643!2d-71.55740376129896!3d-39.27345703247177!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9613a31bed050beb%3A0x92fea94995acfc6c!2sPangui%2C%20Curarrehue%2C%20Araucan%C3%ADa!5e0!3m2!1ses!2scl!4v1688365557447!5m2!1ses!2scl"
                      class="absolute top-0 left-0 w-full h-full border-0" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <br>
                <p class="mb-5 font-light text-center text-gray-500">
                    Panqui cuenta con un hermoso paisaje natural, compuesto  por el bosque cordillerano, donde la especie
                    característica es el coigüe (Nothofagus dombeyi), lenga (Nothofagus pumilio) y araucaria (Araucaria araucana)
                    Diversas especies de aves, tales como el carpintero (Campephilus magellanicus)   
                </p>
            </article>                  
        </div>  
    </div>
  </section>